### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [15]:
Player_Count=len(purchase_data)
Player_Count

780

In [16]:
uniquePlayer=len(purchase_data['SN'].unique())
uniquePlayer

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
PurchaseCount = purchase_data['Purchase ID'].count()

In [18]:
count=purchase_data['Item ID'].value_counts()
count

178    12
82      9
108     9
145     9
92      8
19      8
75      8
103     8
72      8
60      8
59      8
34      8
37      8
159     7
7       7
85      7
141     7
78      7
164     7
53      7
117     7
71      7
110     7
136     6
40      6
54      6
120     6
12      6
144     6
3       6
       ..
176     2
177     2
18      2
158     2
69      2
43      2
31      2
132     2
63      2
26      2
28      2
56      2
30      2
127     2
33      2
115     2
125     2
48      2
126     1
23      1
180     1
47      1
90      1
134     1
91      1
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

In [19]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [20]:
average=purchase_data['Price'].mean()
print(average)

purchase_data.describe()

Total_Revenue=purchase_data['Price'].sum()
print(Total_Revenue)

3.050987179487176
2379.77

In [22]:
SummaryTable = pd.DataFrame({"Number of Unique Items": uniquePlayer, 
                             "Average Price": [average],
                             "Number of Purchases": [Player_Count],
                             "Total Revenue": [Total_Revenue]})

SummaryTable

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     576       3.050987                  780        2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
Gender=purchase_data['Gender'].value_counts()
print(Gender)

GenderPercentage=Gender/Player_Count
print(GenderPercentage)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [26]:
GenderSummary=pd.DataFrame({'Gender Player Percentage': GenderPercentage,
                           'Gender Total Count': Gender})

GenderSummary

                       Gender Player Percentage  Gender Total Count
Male                                   0.835897                 652
Female                                 0.144872                 113
Other / Non-Disclosed                  0.019231                  15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
Gender_purchase_group = purchase_data.groupby(["Gender"]).sum()["Price"].rename ('Gender Purchase Group')

GenderAverage=purchase_data.groupby(["Gender"]).mean()["Price"].rename('Gender Averages')


GenderCount=purchase_data.groupby(["Gender"]).count()["Price"].rename("Gender Count")

GenderTotal=Gender_purchase_group/GenderSummary['Gender Total Count']

GenderSummary = pd.DataFrame({"Gender Purchase Group":Gender_purchase_group,
                             "Gender Averages":GenderAverage,
                             "Gender Count": GenderCount,
                             "Normalized Total":GenderTotal})

GenderSummary

,Gender Purchase Group,Gender Averages,Gender Count,Normalized Total
Gender,,,,
Female,361.94,3.203009,113,3.203009
Male,1967.64,3.017853,652,3.017853
Other / Non-Disclosed,50.19,3.346000,15,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [31]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
playerDem=purchase_data.loc[:,["Gender","SN","Age"]]
playerDem.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [34]:
playerDem["Age Ranges"]=pd.cut(playerDem["Age"], age_bins, labels=group_names)

playerDem.head()

  Gender             SN  Age Age Ranges
0   Male        Lisim78   20      20-24
1   Male    Lisovynya38   40        40+
2   Male     Ithergue48   24      20-24
3   Male  Chamassasya86   24      20-24
4   Male      Iskosia90   23      20-24

In [41]:
AgeDemTotals=playerDem["Age Ranges"]. value_counts()
AgeDemPercentage=AgeDemTotals/uniquePlayer
AgeDemSummary=({"Total Count":AgeDemTotals,
               "Player Percentage":AgeDemPercentage})


AgeDemSummary

{'Total Count': 20-24    365
 15-19    136
 25-29    101
 30-34     73
 35-39     41
 10-14     28
 <10       23
 40+       13
 Name: Age Ranges, dtype: int64, 'Player Percentage': 20-24    0.633681
 15-19    0.236111
 25-29    0.175347
 30-34    0.126736
 35-39    0.071181
 10-14    0.048611
 <10      0.039931
 40+      0.022569
 Name: Age Ranges, dtype: float64}

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
TopSpenderTotal=purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Amount")
TopSpenderAverage=purchase_data.groupby(['SN']).mean()["Price"].rename("Purchase Average")
TotalSpenderCount=purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

TopSpenderSummary= pd.DataFrame({"Total Purchase Amount":TopSpenderTotal,
                                "Purchase Average": TopSpenderAverage,
                                "Purchase Count":TotalSpenderCount})

TopSpenderSummary.sort_values("Total Purchase Amount", ascending=False).head(5)

             Total Purchase Amount  Purchase Average  Purchase Count
SN
Lisosia93                    18.96          3.792000               5
Idastidru52                  15.45          3.862500               4
Chamjask73                   13.83          4.610000               3
Iral74                       13.62          3.405000               4
Iskadarya95                  13.10          4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
mpiTotal=purchase_data.groupby(['Item ID', 'Item Name'])["Price"].sum().rename("Total Purchase Value")

mpiCount=purchase_data.groupby(['Item ID', 'Item Name'])["Price"].count().rename("Purchase Count")

mpiPrice=purchase_data.groupby(['Item ID', 'Item Name'])["Price"].first().rename("Price")

mpiSummary= pd.DataFrame({"Total Purchase Value":mpiTotal,
                         "Purchase Count":mpiCount,
                         "Price":mpiPrice})

mpiSummary.sort_values("Purchase Count", ascending=False).head(5)

,,Total Purchase Value,Purchase Count,Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.23
145,Fiery Glass Crusader,41.22,9,4.58
108,"Extraction, Quickblade Of Trembling Hands",31.77,9,3.53
82,Nirvana,44.10,9,4.90
19,"Pursuit, Cudgel of Necromancy",8.16,8,1.02

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [50]:
mpiSummary.sort_values("Total Purchase Value", ascending=False).head(5)

,,Total Purchase Value,Purchase Count,Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.23
82,Nirvana,44.10,9,4.90
145,Fiery Glass Crusader,41.22,9,4.58
92,Final Critic,39.04,8,4.88
103,Singed Scalpel,34.80,8,4.35