In [11]:
import pandas as pd
import os
import csv
import numpy as np

In [12]:
inputFilePath1 = os.path.join("budget_data_1.csv")
inputFilePath2 = os.path.join("budget_data_2.csv")
files = [inputFilePath1,inputFilePath2]
budgetdata = pd.concat((pd.read_csv(f) for f in files))
df = pd.DataFrame(budgetdata)
df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [13]:
TotalMonths = df["Date"].count()
TotalMonths

127

In [14]:
TotalRevenue = df["Revenue"].sum()
TotalRevenue

55945323

In [15]:
AverageRevenueChange = df["Revenue"].mean()
AverageRevenueChange

440514.3543307087

In [16]:
RevenueIncrease = df[["Date","Revenue"]].max()
RevenueIncrease

Date       Sep-2015
Revenue     1195111
dtype: object

In [17]:
RevenueDecrease = df[["Date","Revenue"]].min()
RevenueDecrease

Date         Apr-13
Revenue    -1172384
dtype: object