In [124]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem

In [125]:
CityDataFile="raw_data/city_data.csv"
Cities= pd.read_csv(CityDataFile)
Cities.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [126]:
RidesDataFile="raw_data/ride_data.csv"
Rides = pd.read_csv(RidesDataFile)
Rides.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

In [127]:
cityRide = pd.merge(Cities, Rides, on="city")
cityRide

,city,driver_count,type,date,fare,ride_id
0,Richardfort,38,Urban,2018-02-24 08:40:38,13.93,5628545007794
1,Richardfort,38,Urban,2018-02-13 12:46:07,14.00,910050116494
2,Richardfort,38,Urban,2018-02-16 13:52:19,17.92,820639054416
3,Richardfort,38,Urban,2018-02-01 20:18:28,10.26,9554935945413
4,Richardfort,38,Urban,2018-04-17 02:26:37,23.00,720020655850
5,Richardfort,38,Urban,2018-04-21 03:44:04,9.54,3698147103219
6,Richardfort,38,Urban,2018-02-03 00:14:26,29.04,4982665519010
7,Richardfort,38,Urban,2018-02-08 15:50:12,16.55,2270463070874
8,Richardfort,38,Urban,2018-04-03 15:07:34,40.77,9496210735824
9,Richardfort,38,Urban,2018-02-19 14:09:20,27.11,8690324801449
10,Richardfort,38,Urban,2018-04-22 03:06:56,39.74,4081388893008
11,Richardfort,38,Urban,2018-01-31 14:51:01,43.92,4066949857460
12,Richardfort,38,Urban,2018-03-04 22:13:57,14.83,9474112834050
13,Richardfort,38,Urban,2018-03-28 19:33:00,7.75,5539056178883
14,Richardfort,38,Urban,2018-02-14 03:27:28,44.11,2503858662225
15,Richardfort,38,Urban,2018-04-27 11:59:25,30.31,6106446829435
16,Richardfort,38,Urban,2018-03-03 11:57:24,11.42,2916078036620
17,Richardfort,38,Urban,2018-01-13 10:08:54,25.81,9110913538598
18,Richardfort,38,Urban,2018-03-06 12:53:05,8.28,5127600643309
19,Richardfort,38,Urban,2018-02-05 16:12:04,42.22,4051093040264
20,Richardfort,38,Urban,2018-04-04 15:04:56,16.35,6077906760851
21,Richardfort,38,Urban,2018-03-05 16:00:59,4.85,3291539624738
22,Richardfort,38,Urban,2018-04-14 11:56:28,43.01,7636011510547
23,Richardfort,38,Urban,2018-01-21 23:20:53,10.91,3567611375530
24,Richardfort,38,Urban,2018-03-16 23:00:51,21.39,237473464569
25,Richardfort,38,Urban,2018-03-22 04:41:04,16.35,5934239154720
26,Richardfort,38,Urban,2018-01-03 01:06:17,5.32,3268844473610
27,Richardfort,38,Urban,2018-03-29 15:16:01,37.76,4802688422688
28,Williamsstad,59,Urban,2018-01-23 17:51:24,19.62,125986195523
29,Williamsstad,59,Urban,2018-03-29 21:43:04,35.58,4747780858464
...,...,...,...,...,...,...
2345,Bradshawfurt,7,Rural,2018-03-24 18:53:18,57.51,2301998876294
2346,Bradshawfurt,7,Rural,2018-03-24 07:34:03,19.89,7867402022145
2347,Bradshawfurt,7,Rural,2018-02-18 22:21:26,34.32,8881996813087
2348,Bradshawfurt,7,Rural,2018-04-08 13:46:03,55.19,1742954306812
2349,Bradshawfurt,7,Rural,2018-04-07 21:12:49,49.70,5088814323688
2350,Bradshawfurt,7,Rural,2018-02-23 12:00:59,37.05,2068423024643
2351,Bradshawfurt,7,Rural,2018-04-10 09:47:54,19.07,739305106253
2352,Bradshawfurt,7,Rural,2018-01-19 20:21:54,56.78,1253403506597
2353,Bradshawfurt,7,Rural,2018-01-30 10:55:23,51.39,1328274868072
2354,New Ryantown,2,Rural,2018-01-27 17:33:41,42.68,7994603753131
2355,New Ryantown,2,Rural,2018-04-18 19:43:54,42.97,230914178346
2356,New Ryantown,2,Rural,2018-02-04 23:54:51,45.70,3570428225530
2357,New Ryantown,2,Rural,2018-04-30 01:50:44,50.81,5357550405010
2358,New Ryantown,2,Rural,2018-04-05 21:38:18,50.98,4834855490008
2359,New Ryantown,2,Rural,2018-05-05 19:29:38,26.53,2302209966018
2360,Randallchester,9,Rural,2018-04-13 11:13:31,43.22,1076079536213
2361,Randallchester,9,Rural,2018-02-19 03:52:47,58.55,8004803682564
2362,Randallchester,9,Rural,2018-02-11 05:42:29,25.78,9010611749008
2363,Randallchester,9,Rural,2018-03-25 13:36:46,10.37,3216382725494
2364,Randallchester,9,Rural,2018-04-07 23:42:07,10.79,1615474447641
2365,Jessicaport,1,Rural,2018-01-01 09:45:36,43.69,2424875833354
2366,Jessicaport,1,Rural,2018-01-14 07:09:17,18.05,5405362355006
2367,Jessicaport,1,Rural,2018-04-13 16:08:11,39.89,6511242590852
2368,Jessicaport,1,Rural,2018-03-18 16:59:40,33.72,3046889917159
2369,Jessicaport,1,Rural,2018-05-01 08:14:47,22.44,3725278487786
2370,Jessicaport,1,Rural,2018-01-31 17:57:25,58.29,623154556195
2371,South Saramouth,7,Rural,2018-02-20 16:32:36,44.29,3622365199969
2372,South Saramouth,7,Rural,2018-01-28 15:55:33,31.25,7118046558393
2373,South Saramouth,7,Rural,2018-03-27 21:07:16,11.87,170351888128
2374,South Saramouth,7,Rural,2018-04-12 18:11:50,57.23,5081198789583

In [128]:
city_counts=cityRide["city"].value_counts()
city_counts.head()

West Angela        39
South Karenland    38
North Jason        35
Port Frank         33
Liumouth           33
Name: city, dtype: int64

In [129]:
grouped_city=cityRide.groupby(["city"])

grouped_city.count().head(10)

                 driver_count  type  date  fare  ride_id
city
Amandaburgh                18    18    18    18       18
Barajasview                22    22    22    22       22
Barronchester              16    16    16    16       16
Bethanyland                18    18    18    18       18
Bradshawfurt               10    10    10    10       10
Brandonfort                19    19    19    19       19
Carriemouth                27    27    27    27       27
Christopherfurt            27    27    27    27       27
Colemanland                22    22    22    22       22
Davidfurt                  17    17    17    17       17

In [130]:
Pyber=pd.DataFrame()
Pyber["AverageFare"]=grouped_city["fare"].mean()
Pyber["TotalRides"]=grouped_city["ride_id"].count()
Pyber["Drivers"]=grouped_city["driver_count"].first()
Pyber["CityType"]=grouped_city["type"].first()
Pyber["TotalFares"]=grouped_city["fare"].sum()
      
Pyber.head()

               AverageFare  TotalRides  Drivers  CityType  TotalFares
city
Amandaburgh      24.641667          18       12     Urban      443.55
Barajasview      25.332273          22       26     Urban      557.31
Barronchester    36.422500          16       11  Suburban      582.76
Bethanyland      32.956111          18       22  Suburban      593.21
Bradshawfurt     40.064000          10        7     Rural      400.64

In [133]:
PyberPercentage=pd.DataFrame()
PyberPercentage["PercentageFaresByCityType"]=grouped_city["CityType"]/["TotalFares"]
PyberPercentage["PercentageRidesByCityType"]=grouped_city["TotalRides"]/["TotalFares"]
PyberPercentage["PercentageDriversByCityType"]=grouped_city["Drivers"]/["TotalFares"]

PyberPercentage.head()

KeyError: 'Column not found: CityType'