In [1]:
import pandas as pd 
import os
import csv

In [2]:
inputFilePath1=os.path.join("election_data_1.csv")
inputFilePath2=os.path.join("election_data_2.csv")
files=[inputFilePath1,inputFilePath2]
electiondata= pd.concat((pd.read_csv(f)for f in files))

In [3]:
df=pd.DataFrame(electiondata) 
df.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [4]:
TotalCandidateVotes=df["Candidate"].value_counts() 
TotalCandidateVotes

Khan        2218231
Correy       704200
Li           492940
Vestal       385440
Torres       353320
O'Tooley     105630
Seth          40150
Cordin        24090
Name: Candidate, dtype: int64

In [5]:
TotalVotes=df["Voter ID"].count() 
TotalVotes

4324001

In [6]:
PercentDifference = TotalCandidateVotes/TotalVotes 
PercentDifference

Khan        0.513004
Correy      0.162858
Li          0.114001
Vestal      0.089140
Torres      0.081711
O'Tooley    0.024429
Seth        0.009285
Cordin      0.005571
Name: Candidate, dtype: float64

In [7]:
Winner=TotalCandidateVotes.max 
Winner

<bound method Series.max of Khan        2218231
Correy       704200
Li           492940
Vestal       385440
Torres       353320
O'Tooley     105630
Seth          40150
Cordin        24090
Name: Candidate, dtype: int64>